header {
    background-color: #ffffff;
    padding: 9px 0px 12px 0px;
}

.logopart img{
    width: 320px;
    margin: -79px -44px;
    position: absolute;
}

.toggle{
    display: none;
}

.menus {
    display: inline-block;
    margin: -10px 329px;
}

.menus ul{
    list-style-type: none;
}

.menus ul li{
    display: inline-block;
}
.menus ul li :hover{
   background-color: #c2d9e6;
   border-color: #035ca3;
   border-radius: 3px;
   padding: 6px;
}

.rightmenus {
    display: inline-flex;
    margin: -86px 1080px;
    width: 160px;
    position: relative;
    bottom: 11px;
}

.rightmenus i{
    position: absolute;
    margin: 3px -44px;
    color: #035ca3; 
    cursor: pointer;
    font-size: 30px; 
}

.menus ul li a{
    text-decoration: none;
    margin: 0px 18px 0px 0px;
    color: #0d7636;
}

/* dropdown parent */
.supername{
    position: relative;
}

/* submenu */
.submenus{
    display: none;
    position: absolute;
    top: 35px;
    left:-40px;
    background: white;
    flex-direction: column;
}

/* show submenu only on hover */
.supername:hover .submenus{
    display: block;
}

/* override flex for submenu */
.submenus li{
    display: block;
    margin: 10px 0;
    width: 150px;
}

li{
    margin: 2px;
    padding: 0px;
    font-size: 19px;
    font-weight: 500;
}





@media (min-width:320px) and (max-width:480px){

    header{
        width:100%;
        padding:10px 15px;
        position:relative;
        overflow:visible;
    }

    .logopart img{
        width: 200px;
        height: auto;
        margin: -67px -33px !important;
        position: static;
    }

    .toggle{
        display:block;
        font-size:28px;
        position:absolute;
        top:7px;
        right:20px;
        cursor:pointer;
        z-index:1000;
    }

    .menus{
        display:none;
        width:100%;
        position:absolute;
        top:70px;
        left:0;
        background:#ffffff;
        margin:0 !important;
        padding:10px 0 !important;
        z-index:999;
    }

    .menus.active{
        display:block;
    }

    .menus ul{
        margin:0;
        padding:0;
        list-style:none;
    }

    .menus ul li{
        display:block;
        width:90%;
        margin:10px auto;
        padding:12px;
        text-align:center;
        background:#d9e6ed;
        border-radius:5px;
    }

    .menus ul li a{
        font-size:16px;
        text-decoration:none;
        color:#0d7636;
    }

    .rightmenus{
        display:none;
    }

    .rightbtn{
        display:none;
    }

    .submenus{
        position:static;
        width:100%;
        background:#edf4f7;
        margin-top:10px;
    }
}